<mat-sidenav-container class="example-container" >
  <mat-sidenav #sidenav mode="side" opened>
    <p>
      <mat-toolbar>
      <span class="centralizar"> Menu </span>
    </mat-toolbar>
    </p>

    <div class="container container-topo container-nav" routerLinkActive="active"  [routerLink]="'/home'" >
      <button mat-icon-button>
        <mat-icon> home </mat-icon>
      </button>
      <span> Página Inicial </span>
    </div>
    <div  routerLinkActive="active"  [routerLink]="'/login'" class="container container-nav" >
      <button mat-icon-button >
        <mat-icon> login </mat-icon>
      </button> 
      <span> Login </span>
    </div>
    <div routerLinkActive="active" [routerLink]="'/cursos'" class="container container-nav" >
      <button  mat-icon-button >
        <mat-icon> school </mat-icon>
      </button> 
      <span> Cursos </span>
    </div>
  </mat-sidenav>
  <mat-sidenav-content> 
    <div class="container letraPreta">
      <div class="container">
        <p> Entre com o id do curso </p>
        <input type="text" #idCurso>
        <button  mat-button color="primary" [routerLink]="['./cursos', idCurso.value]"> Detalhe </button>
        
    </div>
    <div class="container">
        <p>teste</p>
        <router-outlet> </router-outlet>
    </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
