<mat-sidenav-container class="example-container" >
  <mat-sidenav #sidenav mode="side" opened>
    <div class="container" >
      <button mat-icon-button [routerLink]="'/'">
        <mat-icon> home </mat-icon>
      </button> 
    </div>
    <div class="container" >
      <button mat-icon-button [routerLink]="'/login'">
        <mat-icon> login </mat-icon>
      </button> 
    </div>
    <div class="container" >
      <button mat-icon-button [routerLink]="'/cursos'">
        <mat-icon> school </mat-icon>
      </button> 
    </div>
  </mat-sidenav>
  <mat-sidenav-content> 
    <div class="container letraPreta">
      <router-outlet> </router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
