<mat-toolbar>
    <span> Cursos </span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="btn" color="primary">
        <mat-icon> add </mat-icon>
    </button>
</mat-toolbar>
<div *ngIf="cursos$ | async as curso; else loading">
    <mat-list *ngFor="let curso of curso">
        <mat-list-item>
            {{ curso.id }} - {{ curso.nome }}
            <span class="example-spacer"></span>
            <button mat-icon-button class="btn" color="accent">
                <mat-icon> edit </mat-icon>
            </button>
            <button mat-icon-button color="warn" class="btn">
                <mat-icon> remove </mat-icon>
            </button>
        </mat-list-item>
        <mat-divider></mat-divider>
    </mat-list>    
</div>
<div>
    <ng-template #loading class="container">
        <div class="d-flex justify-content-center">
            <div class="spinner-border m-5" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </ng-template>
</div>
