.btn{
    margin-top: 10px;
}
.resetar{
    float: right;
}

.has-error{
    border: 1px solid red;
}
.has-error-div{
    color: red;
}

.has-error-label{
    border: 1px solid white;
    color: red;
}
