<form>
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label for="nome"> Nome </label>
                <input type="text" name="nome" id="nome" class="form-control">
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <div class="form-group">
                <label for="cep">CEP</label>
                <input type="text" class="form-control" id="cep" name="cep">
            </div>
        </div>
        <div class="col-5">
            <div class="form-group">
                <label for="rua">Rua</label>
                <input type="text" class="form-control" id="rua" name="rua">
            </div>
        </div>
        <div class="col-2">
            <div class="form-group">
                <label for="num">Número</label>
                <input type="text" class="form-control" id="num" name="num">
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label for="complemento">Complemento</label>
                <input type="text" class="form-control" id="complemento" name="complemento">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <label for="bairro"> Bairro </label>
            <input type="text" class="form-control" id="bairro" name="bairro">
        </div>
        <div class="col-3">
            <label for="cidade"> Cidade </label>
            <select name="cidade" id="cidade" class="form-control">
                <option value="teste"> teste </option>
            </select>
        </div>
        <div class="col-3">
            <label for="estado"> Estado </label>
            <select name="estado" id="estado" class="form-control">
                <option value="teste"> teste </option>
            </select>
        </div>
        <div class="col-3">
            <label for="pais"> Pais </label>
            <select name="pais" id="pais" class="form-control">
                <option value="teste"> teste </option>
            </select>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>